<!DOCTYPE html>
<html>
  <head>
    <title>Hurricane Box</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      //   let thermistorData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      //   let irData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      //   let ultrasonicData = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

      //   window.onload = function () {
      //     $.ajax({
      //       url: "/data1",
      //       async: false,
      //       success: function (result) {
      //         // chartSettings = result;
      //         // console.log(result);
      //         thermistorData = result.slice(0);
      //         // console.log(thermistorData);
      //       },
      //     });

      //     $.ajax({
      //       url: "/data2",
      //       async: false,
      //       success: function (result) {
      //         // chartSettings = result;
      //         // console.log(result);
      //         irData = result.slice(0);
      //       },
      //     });

      //     $.ajax({
      //       url: "/data3",
      //       async: false,
      //       success: function (result) {
      //         // chartSettings = result;
      //         // console.log(result);
      //         ultrasonicData = result.slice(0);
      //       },
      //     });
      //   };
      //
    </script>
  </head>

  <body>
    <div class="main-content">
      <p>Wow that's a big storm</p>
      <img src="http://192.168.1.23:8081"></img>
      <div>
        <div>
          <h1>Temperature</h1>
          <p id='temp'></p>
        </div>
        <div>
          <h1>Accelerometer X</h1>
          <p id='accelx'></p>
        </div>
        <div>
          <h1>Accelerometer Y</h1>
          <p id='accely'></p>
        </div>
        <div>
          <h1>Accelerometer Z</h1>
          <p id='accelz'></p>
        </div>
        <div>
          <h1>Accelerometer Roll</h1>
          <p id='accelr'></p>
        </div>
        <div>
          <h1>Accelerometer Pitch</h1>
          <p id='accelp'></p>
        </div>
      </div>
      <div>
        <p>Change Intensity</p>
        <button>Search</button>
      </div>
    </div>
    <script src="./client.js"></script>
  </body>
</html>
