<!DOCTYPE html>
<html>

<head>
  <title>Crawler ON/OFF</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  </script>
  <div>
    <h>CRAWLER BUTTONS HYPE!!!!!! WOOOOOOOT</h>
    <p>ON</p>
    <button id="onButton">turn on</button>
    <p>OFF</p>
    <button id="offButton">turn off</button>
  </div>
  <script src="./client.js"></script>
</body>

</html>